*.pyc
*.pyo
.installed.cfg
*.egg-info
env
develop-eggs
dist
downloads
eggs
parts
*.db
settings_local.py
local.py
production.py
venv
.DS_Store
attachments/
local.py
.coverage
nosetests.xml
etc/provisioning/*.tar.gz
fabric.cfg
scampcat/bin/uglify
scampcat/bin/yui
